<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" [collapse]="true">
      <ion-back-button defaultHref="/tickets"></ion-back-button>
    </ion-buttons>
    <ion-title>Ticket: {{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<!--For apple-->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start" [collapse]="true">
        <ion-back-button defaultHref="/tickets"></ion-back-button>
      </ion-buttons>
      <ion-title>Ticket: {{title}}</ion-title>

      <!--
      <ion-buttons slot="primary">
        <ion-button id="open-modal" (click)="openModal()">
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
-->
    </ion-toolbar>
  </ion-header>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>{{title}}</ion-card-title>
      <ion-card-subtitle>Posted By {{postedBy}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>


        <ion-item>
          <ion-select
            aria-label="Favorite Fruit"
            value="{{status}}"
            label="Status"
            label-placement="floating"
            interface="action-sheet"
            (ionChange)="updateStatus($event)"
          >
            <ion-select-option value="open">Open</ion-select-option>
            <ion-select-option value="inProgress">In Progress</ion-select-option>
            <ion-select-option value="closed">Closed</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-item lines="full">
        <p class="description ion-padding">{{description}}</p>
      </ion-item>

      <ion-list>
        <ion-item lines="full">
          <ion-chip color="warning" slot="start">{{totalNotes}}</ion-chip>
          <ion-label>
            <h1>Notes</h1>
          </ion-label>

          <ion-button slot="end" (click)="addNote()"> Add Note </ion-button>
        </ion-item>

        <ion-item>
          <ion-input
            label="New Note"
            label-placement="stacked"
            placeholder="Enter text"
            [(ngModel)]="noteText"
          ></ion-input>
        </ion-item>

        <ion-item lines="none" *ngFor="let note of notes$ | async">
          <ion-label>
            <p></p>
            <h3>{{note.notePostedBy}}</h3>
            <p>{{note.text}}</p>
            <p>{{note.timestamp.toDate() | date:'MM-dd-yyyy h:mma' }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
